# requires non-library libs :)
# app_source_handler
#   https://github.com/lordmikefin/app_source_handler
# LMToyBoxPython
#   https://github.com/lordmikefin/LMToyBoxPython


requests==2.31.0
tqdm==4.42.0
elevate==0.1.3
configparser==5.0.1

#Babel==2.7.0
#lxml==4.4.2
